*.tif
*.pyc
results/highRa/stimsegV.txt
results/highRa/stimsegIca.txt
results/highRa/stimsegCai.txt
results/highRa/stimribV.txt
results/highRa/stimribIca.txt
results/highRa/stimribCai.txt
results/highRa/stiminhV.txt
results/highRa/stiminhIca.txt
results/highRa/stiminhCai.txt
results/highRa/basesegV.txt
results/highRa/basesegIca.txt
results/highRa/basesegCai.txt
results/highRa/baseribV.txt
results/highRa/baseribIca.txt
results/highRa/baseribCai.txt
results/highRa/baseinhV.txt
results/highRa/baseinhIca.txt
results/highRa/baseinhCai.txt
*.txt
results/passive/v.txt
results/CaIV/Voltages.txt
results/CaIV/Currents.txt
